.hidden{
	display: none;
}

img, embed, object, video 
{
  max-width: 100%; 
}
*, *::before, *::after 
{
  box-sizing: inherit; 
}
html{
	box-sizing: border-box; 
    font-size: 10px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
#container{ 
	width: 100%;
	height: 100%;
    margin: 0 auto;
	background:url(../images/bcg.png) no-repeat;
	background-position: center;
    background-size: cover;
	
}


/* --------------------header------------- */
header{
	margin: 0 auto;
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	background-color:rgba(112,112,112,.2);
}
#logo{
	width: 30%;
	font-size: 4rem;
	font-weight: bold;
	margin-top: 3rem;
	margin-left: 3rem;
}
nav{
	width: 70%;
	margin-top: 4rem;
	font-size: 2rem;
	font-weight: bold;
}
nav ul{
  list-style:none;
}

nav ul li{
	display: inline; 
	margin-left: 10rem;
}
nav a{
	text-decoration: none;
	color: white;
}
nav li:hover {
 background-color: rgba(152, 150, 233, 0.8);
}


/* --------------------content------------- */


#content{
	width: 70%;
	height: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	
}
.contentTitle{
	margin: 2rem auto; 
	
}
.contentTitle p:nth-child(1){
	font-size:6rem ;
	margin-bottom: 2rem;
	margin-left: 10rem;
}
.contentTitle p:nth-child(2){
	font-size:4rem ;
	letter-spacing: 2.5rem;
	margin: 0 auto;
}

.contentInfo{
	display: flex;
	flex-direction: row;
	margin: 10rem auto;

}
#developer{
	display: flex;
	flex-direction: column;
	width: 25rem;
	height: 38rem;
	float: left;
}

#developer img,#developer p,#developer button{
	margin: 0 auto;
	margin-bottom: 2rem;
}

#developer p, #designer p{
	font-size: 4rem;
}

.contentInfo button{
	
	border-radius: 5rem;
	color: white;
	font-size: 2rem;
	font-weight: bold;
	background-color:rgba(106,107,110,.8);
	border: none;
	padding: 2.5rem 8rem;
	transition-duration: 0.5s;
}

button:hover {
  background-color:white;
  color: rgb(134, 152, 207);

}

#designer{
	display: flex;
	flex-direction: column;
	width: 25rem;
	height: 38rem;
	margin-left: 40rem;
}
#designer img,#designer p,#designer button{
	margin: 0 auto;
	margin-bottom: 2rem;
}

.icon{
	width:50px;
	height: 50px;
}

/* ----------------------pop card-------------- */
.popUp{
	display: flex;
	flex-direction: row;
}

.popCardDeveloper, .popCardDesigner{
	width:920px;
	height: 720px;
	color: black;
	border: 10px solid black;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	
}


.developer_info,.designer_info{
	width: 280px;
	height: 550px;
	top: 80px;
	left: 350px;
	position: absolute;
}

.developer_info h2{
	font-size:35px ;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 53px;
}

.designer_info h2{
	font-size:40px ;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 53px;
}

.developer_info h3, .designer_info h3{
	font-size: 25px;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 53px;
	
}

.developer_info ul li, .designer_info ul li{
	font-size: 20px;
	margin-bottom: 10px;
}

.developer_info h4, .designer_info h4{
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 10px;
}

.developer_info p, .designer_info p{
	font-size: 20px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.popCardDeveloper,.popCardDesigner{
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, .15);  
 	backdrop-filter: blur(8px);
	display: none;
}


.closeDeveloper,.closeDesigner{
	font-size: 4rem;
	color: blue;
	text-decoration: none;
	padding: 2rem;
	cursor: pointer;
	position: absolute;
	left: 90%;
}

.closeDesigner:hover,.closeDeveloper:hover{
	color: white;
	transition: 0.5s;
}

.popUpDeveloper{
	display: block;
}
.popUpDesigner{
	display: block;
}